@import '../../variables.scss';
@import '../../colours.scss';

.footerWrapper {
  width: 100%;
  margin-top: auto;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  width: 100%;
  min-height: 200px;
  padding: 0 24px;
  box-sizing: border-box;
}

.marginForAd {
  margin-top: 100px;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;

  @media (min-width: $mobileBreakpoint) {
    flex-direction: row;
  }
}

.link {
  color: white;
  padding: 16px;
}

.ad {
  text-align: center;
  box-shadow: 2px 2px 12px $primaryColour;
  border-radius: 20px;
  background: white;
  padding: 24px;
  width: 240px;
  transform: translateY(-50%);

  h3 {
    margin: 0;
  }
}

.adButton {
  background: $secondaryColour;
  color: white;
  padding: 12px 24px;
  border-radius: 30px;
  border: none;
}